form {
  font-size: 3em;
  text-align: center;
}
input {
  height: 30px;
  width: 400px;
  font-size: 0.5em;
}
button {
  height: 30px;
  font-size: 0.4em;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #008cba;
  color: white;
  border-style: inset;
}
